#root {
  width: 100%;
  text-align: center;
  margin: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  background-color: aquamarine;
  width: 100%;
  color: rgb(47, 81, 82);
  margin: 5px;
  text-align: center;
}

.header {
  background-color: aqua;
  color: rgb(47, 81, 82);
  width: 100%;
  margin: 5px;
  text-align: center;
}

