#root {
  width: 100%;
  text-align: center;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer, .header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(47, 81, 82);
  padding: 20px;
}

.footer {
  background-color: aquamarine;
}

.header {
  background-color: rgb(63, 133, 133);
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 100px;
  margin-bottom: 1rem;
}


.logo img {

}

.navigation-links {
  margin: 0 10px;
  text-decoration: none;
  color: #494848;
}

.navigation-links a:hover {
  color: white;
}
